<a href="https://colab.research.google.com/github/RamonNicolas/DataPy/blob/main/Python_para_Data_Science_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUÇÃO AO PYTHON
---

# 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares. 
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

# 1.2 Instalação e ambiente de desenvolvimento

### Instalação Local

### https://www.python.org/downloads/
### ou
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versão

In [3]:
!python -V

Python 3.7.11

# 1.3 Trabalhando com dados

In [4]:
import pandas as pd
# pd.set_option('display.max_rows',1000) Mostrar todo o DF para mostrar até 1000 linhas 
# pd.set_option('display.max_columns',1000) Mostrar todo o DF para mostrar até 1000 colunas

In [8]:
dataset = pd.read_csv('db.csv', sep=';')
dataset

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [11]:
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [12]:
dataset[['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [13]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABALHANDO COM TUPLAS
---

# 2.1 Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [14]:
()

()

In [17]:
nome = "Passat"
valor = 153200
(nome,valor)

('Passat', 153200)

In [18]:
nome_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])

In [ ]:
['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [19]:
type (nome_carros)

tuple

# 2.2 Seleções em tuplas

In [20]:
nome_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [22]:
nome_carros[0]

'Jetta Variant'

In [34]:
nome_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', ('Fusca','Gol','FordKA'),'DS5'])

In [41]:
nome_carros[-2][2]

'FordKA'

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

# 2.3 Iterando em tuplas

In [1]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [2]:
for item in nomes_carros:
  print(item)

Jetta Variant
Passat
Crossfox
DS5

### Desempacotamento de tuplas

In [3]:
carro1, carro2,carro3,carro4 = nomes_carros

In [4]:
carro1

'Jetta Variant'

In [5]:
_, A, _, B= nomes_carros

In [6]:
A

'Passat'

In [7]:
B

'DS5'

In [8]:
_, C, *_ = nomes_carros

In [9]:
C

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [10]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [11]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [14]:
list(zip(carros,valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [17]:
for item in zip(carros,valores):
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [26]:
for carro,valor in zip(carros,valores):
  print(f'Nome do veículo {carro}, valor é de R${valor}')
  # if (valor > 100000):
  #  print(f'Esse veículo {carro}, valor é de R${valor}')

Nome do veículo Jetta Variant, valor é de R$88078.64
Nome do veículo Passat, valor é de R$106161.94
Esse veículo Passat, valor é de R$106161.94
Nome do veículo Crossfox, valor é de R$72832.16
Nome do veículo DS5, valor é de R$124549.07
Esse veículo DS5, valor é de R$124549.07

In [36]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)
for tupla in carros:
  print(tupla)
  for item in tupla[-1]:
    print(item)

('Jetta Variant', 'Motor 4.0 Turbo', 2003, False, ('Rodas de liga', 'Travas elétricas', 'Piloto automático'))
Rodas de liga
Travas elétricas
Piloto automático
('Passat', 'Motor Diesel', 1991, True, ('Central multimídia', 'Teto panorâmico', 'Freios ABS'))
Central multimídia
Teto panorâmico
Freios ABS

# <font color=green> 3. TRABALHANDO COM DICIONÁRIOS
---

# 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [37]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [38]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [39]:
dados = {'Jetta Variant':88078.64 , 'Passat':106161.94, 'Crossfox':72832.16}

In [40]:
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [41]:
type(dados)

dict

### Criando dicionários com *zip()*

In [42]:
list(zip(carros,valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [44]:
dados2 = dict(zip(carros,valores))
dados2

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

# 3.2 Operações com dicionários

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [45]:
dados2['Passat']

106161.94

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [46]:
'Passat' in dados2

True

In [48]:
'Fusca' in dados2

False

## *len(dict)*

Retorna o número de itens do dicionário.

In [49]:
len(dados2)

3

## *dict[ key ] = value*

Inclui um item ao dicionário.

In [50]:
dados2['DS5'] = 124549.07

In [51]:
dados2

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [52]:
del dados2['Passat']

In [63]:
dados2
dados = {
    'Passat': {
        'ano': 2012,
        'km': 50000,
        'valor': 75000,
        'acessorios': ['Airbag', 'ABS']
    }, 
    'Crossfox': {
        'ano': 2015,
        'km': 35000,
        'valor': 25000
    }
}
'acessorios' in dados['Crossfox']
'acessorios' in dados['Passat']
dados['Crossfox']['valor']
dados['Passat']['acessorios'][-1]

'ABS'

# 3.3 Métodos de dicionários

## *dict.update()*

Atualiza o dicionário.

In [64]:
dados2

{'Crossfox': 72832.16, 'DS5': 124549.07, 'Jetta Variant': 88078.64}

In [69]:
dados2.update({'Passat': 106161.94})
dados2.update({'Passat': 106161.15})
dados2.update({'Fusca': 10611.15})
dados2

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 10611.15,
 'Jetta Variant': 88078.64,
 'Passat': 106161.15}

## *dict.copy()*

Cria uma cópia do dicionário.

In [71]:
dadosCopy = dados2.copy()

In [72]:
dadosCopy

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 10611.15,
 'Jetta Variant': 88078.64,
 'Passat': 106161.15}

In [73]:
del dadosCopy ['Fusca']

In [75]:
dados2
dadosCopy

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.15}

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [77]:
dadosCopy

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.15}

In [78]:
dadosCopy.pop('Passat')

106161.15

In [79]:
dadosCopy

{'Crossfox': 72832.16, 'DS5': 124549.07, 'Jetta Variant': 88078.64}

In [81]:
dadosCopy.pop('Passat', 'Chave não encontrada')

'Chave não encontrada'

## *dict.clear()*

Remove todos os itens do dicionário.

In [82]:
dadosCopy.clear()

In [84]:
dados = {'Jetta': 88000, 'Crossfox': 72000, 'DS5': 124000}

# 3.4 Iterando em dicionários

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [86]:
dados2.keys()

dict_keys(['Jetta Variant', 'Crossfox', 'DS5', 'Passat', 'Fusca'])

In [88]:
for key in dados.keys():
  print(dados[key])

88000
72000
124000

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [89]:
dados2.values()

dict_values([88078.64, 72832.16, 124549.07, 106161.15, 10611.15])

## *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [90]:
dados2.items()

dict_items([('Jetta Variant', 88078.64), ('Crossfox', 72832.16), ('DS5', 124549.07), ('Passat', 106161.15), ('Fusca', 10611.15)])

In [94]:
for key,value in dados2.items():
  print(key,value)

Jetta Variant 88078.64
Crossfox 72832.16
DS5 124549.07
Passat 106161.15
Fusca 10611.15

In [99]:
for key,value in dados2.items():
  if (value > 50000):
    print(f'Carro acima de R$50000 {key}')

Carro acima de R$50000 Jetta Variant
Carro acima de R$50000 Crossfox
Carro acima de R$50000 DS5
Carro acima de R$50000 Passat

In [101]:
dados = {
    'Crossfox': {'valor': 72000, 'ano': 2005}, 
    'DS5': {'valor': 125000, 'ano': 2015}, 
    'Fusca': {'valor': 150000, 'ano': 1976}, 
    'Jetta': {'valor': 88000, 'ano': 2010}, 
    'Passat': {'valor': 106000, 'ano': 1998}
}
for item in dados.items():
    if(item[1]['ano'] >= 2000):
        print(item[0])

Crossfox
DS5
Jetta

# <font color=green> 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

# 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [102]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [105]:
valores = []
for valor in dados.values():
  valores.append(valor)
valores

[88078.64, 106161.94, 72832.16]

In [110]:
sum(dados.values(),100000)

367072.74

In [111]:
sum(dados.values())

267072.74

# 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

In [145]:
def calcular_media():
  valor1 = int(input(('Digite o valor da sua 1º nota:')))
  valor2 = int(input(('Digite o valor da sua 2º nota:')))
  valor3 = int(input(('Digite o valor da sua 3º nota:')))
  notas = int(input(('Digite a quantidade de notas:')))
  media = int((valor1+valor2+valor3)/notas)
  print(media)

In [146]:
calcular_media()

Digite o valor da sua 1º nota:10
Digite o valor da sua 2º nota:10
Digite o valor da sua 3º nota:5

UnboundLocalError: ignored

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

In [148]:
def media(number_1, number_2,number_3):
  valor = (number_1+ number_2+number_3)/3
  print(valor)

In [149]:
media(15,25,99)

46.333333333333336

In [154]:
def media(lista):
  valor = (sum(lista)/len(lista))
  print(valor)
  return valor

In [157]:
retornando = media ([15151.151,11,5,15])

3795.53775

In [158]:
type(retornando)

float

In [160]:
# retornando/1500 Apenas teste

2.5303585

In [193]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}
def km_media(dataset, ano_atual):
    for item in dataset.items():
        result = item[1]['km'] / (ano_atual - item[1]['ano'])
        return(result)
        print(result)

# 4.3 Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

In [196]:
#Utilizando o return para manipular os dados
def media (lista):
  valor = sum(lista) / len(lista)
  return valor

In [199]:
resultado = media([5,6,7,8,9])
resultado

7.0

In [200]:
def media (lista):
  valor = sum(lista) / len(lista)
  return (valor,len(lista))
resultado = media([5,6,7,8,9])
resultado

(7.0, 5)

In [202]:
resultado,n = media([5,6,7,8,9])
n

5

In [207]:
#Exercicio
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}
def km_media(dataset, ano_atual): #Dataset são os dados que estamos trabalhando
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        result.update({ item[0]: media })
    return result
resultado_final = km_media(dados,2021)
resultado_final

{'Crossfox': 2187.5,
 'DS5': 2833.3333333333335,
 'Fusca': 3095.2380952380954,
 'Jetta': 5600.0,
 'Passat': 2818.181818181818}

In [214]:
#Exercicio
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}
def km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        item[1].update({ 'km_media': media })
        result.update({ item[0]: item[1] })
    return result
resultado_final = km_media(dados,2021)
resultado_final

{'Crossfox': {'ano': 2005, 'km': 35000, 'km_media': 2187.5},
 'DS5': {'ano': 2015, 'km': 17000, 'km_media': 2833.3333333333335},
 'Fusca': {'ano': 1979, 'km': 130000, 'km_media': 3095.2380952380954},
 'Jetta': {'ano': 2011, 'km': 56000, 'km_media': 5600.0},
 'Passat': {'ano': 1999, 'km': 62000, 'km_media': 2818.181818181818}}

### Funções que retornam mais de um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

# <font color=green> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# 5.1 Estruturas de dados

In [216]:
import pandas as pd

### Criando uma Series a partir de uma lista

In [217]:
carros = ['Jetta Variant','Passat','Crossfox']
carros
pd.Series(carros)

0    Jetta Variant
1           Passat
2         Crossfox
dtype: object

### Criando um DataFrame a partir de uma lista de dicionários

In [218]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [219]:
dataset = pd.DataFrame(dados)

In [224]:
dataset
#Modificar a ordem das colunas do DF
dataset[['Nome','Motor','Quilometragem', 'Zero_km', 'Ano','Valor']]

            Nome            Motor  Quilometragem  Zero_km   Ano      Valor
0  Jetta Variant  Motor 4.0 Turbo        44410.0    False  2003   88078.64
1         Passat     Motor Diesel         5712.0    False  1991  106161.94
2       Crossfox  Motor Diesel V8        37123.0    False  1990   72832.16

### Criando um DataFrame a partir de um dicionário

In [24]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [28]:
dataset = pd.DataFrame(dados)
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de uma arquivo externo

In [85]:
import pandas as pd
#Lendo CSV separando por vírgula
df = pd.read_csv("db.csv", sep = ';')
df = pd.DataFrame(df)
df

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [35]:
df_novo = pd.DataFrame(dados)
df_novo

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

# 5.2 Seleções com DataFrames

### Selecionando colunas

In [40]:
df.head()
df[['Motor']]

                     Motor
0          Motor 4.0 Turbo
1             Motor Diesel
2          Motor Diesel V8
3          Motor 2.4 Turbo
4          Motor 2.4 Turbo
..                     ...
253               Motor V8
254               Motor V8
255  Motor 5.0 V8 Bi-Turbo
256           Motor Diesel
257        Motor Diesel V6

[258 rows x 1 columns]

In [41]:
df[['Valor']]

         Valor
0     88078.64
1    106161.94
2     72832.16
3    124549.07
4     92612.10
..         ...
253   51759.58
254   51667.06
255   68934.03
256  122110.90
257   90381.47

[258 rows x 1 columns]

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

In [55]:
df[0::2]

                           Nome  ...      Valor
0                 Jetta Variant  ...   88078.64
2                      Crossfox  ...   72832.16
4              Aston Martin DB4  ...   92612.10
6                            A5  ...   56445.20
8                  Dodge Jorney  ...  120716.27
..                          ...  ...        ...
248                        XC60  ...   77675.79
250  Lamborghini Sesto Elemento  ...   55081.99
252                          A7  ...  137627.62
254       Cadillac Ciel concept  ...   51667.06
256            Aston Martin DB5  ...  122110.90

[129 rows x 7 columns]

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

In [73]:
import pandas as pd
#Cria Data Frame
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
#Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.
df.loc[['viper','cobra']]

       max_speed  shield
viper          4       5
cobra          1       2

In [74]:
df.loc[['viper','cobra'], ['max_speed']]

       max_speed
viper          4
cobra          1

In [78]:
df.loc[:, ['max_speed']] #Seleciona todas as linhas e pega determinada colunada selecionada

            max_speed
cobra               1
viper               4
sidewinder          7

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

In [79]:
dataset.iloc[[1]] #Modo Series utilizando [[]]

Nome                   Passat
Motor            Motor Diesel
Ano                      1991
Quilometragem            5712
Zero_km                 False
Valor                  106162
Name: 1, dtype: object

In [87]:
df.iloc[:,[0,3,2]] #Slice para escolher colunas se baseandos nos índices

                      Nome  Quilometragem   Ano
0            Jetta Variant        44410.0  2003
1                   Passat         5712.0  1991
2                 Crossfox        37123.0  1990
3                      DS5            NaN  2019
4         Aston Martin DB4        25757.0  2006
..                     ...            ...   ...
253           Phantom 2013        27505.0  2014
254  Cadillac Ciel concept        29981.0  1991
255             Classe GLK        52637.0  2002
256       Aston Martin DB5         7685.0  1996
257                  Macan        50188.0  1992

[258 rows x 3 columns]

In [90]:
#Exercicio
import pandas as pd

dados = {
    'Nome': ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(dados)
#Solução
dataset[1:3][['Nome', 'Ano', 'Quilometragem', 'Valor']]

       Nome   Ano  Quilometragem     Valor
1    Passat  2003         5712.0  106000.0
2  Crossfox  1991        37123.0   72000.0

In [108]:
#Exercicio 2 
import pandas as pd

dados = {
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(dados, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])
#Solução
#dataset.iloc[1:4:2, [0, -1]] #Minha dataset.iloc[[1, 3], [0, -1]]
dataset.loc[['Passat', 'DS5'], ['Motor', 'Valor']]

               Motor     Valor
Passat  Motor Diesel  106000.0
DS5        Motor 2.0   89000.0

In [ ]:
}

# 5.3 Queries com DataFrames

In [112]:
df.head()

               Nome  ...      Valor
0     Jetta Variant  ...   88078.64
1            Passat  ...  106161.94
2          Crossfox  ...   72832.16
3               DS5  ...  124549.07
4  Aston Martin DB4  ...   92612.10

[5 rows x 7 columns]

In [115]:
df.Motor

0            Motor 4.0 Turbo
1               Motor Diesel
2            Motor Diesel V8
3            Motor 2.4 Turbo
4            Motor 2.4 Turbo
               ...
253                 Motor V8
254                 Motor V8
255    Motor 5.0 V8 Bi-Turbo
256             Motor Diesel
257          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [139]:
select = df.Motor == 'Motor Diesel'
#Utilização do & para passar uma condição de And
df[(df.Motor == 'Motor Diesel')& (df.Zero_km == True)]

                    Nome  ...      Valor
60               Sorento  ...   81399.35
78           Cielo Hatch  ...  145197.70
124                Camry  ...  138597.27
189  Aston Martin Virage  ...   97290.18
237         Série 7 Sedã  ...   67539.79

[5 rows x 7 columns]

In [135]:
df[select] #Todo Retorno é seguindo a condição

                      Nome  ...      Valor
1                   Passat  ...  106161.94
23   Effa Hafei Picape Baú  ...  125684.65
60                 Sorento  ...   81399.35
62        New Fiesta Hatch  ...   66007.16
69          Kangoo Express  ...  146716.91
74                     Fit  ...   77836.23
78             Cielo Hatch  ...  145197.70
86                  Symbol  ...  133030.60
89                A4 Sedan  ...   96369.04
111               A4 Avant  ...  138946.88
119          Silver Shadow  ...  143568.22
124                  Camry  ...  138597.27
145                   Clio  ...  111130.33
148       Série 3 M3 Coupé  ...   69219.89
149    Gallardo LP 560 – 4  ...  144118.91
157          Chana Utility  ...  132662.32
173            TT Roadster  ...   85311.40
189    Aston Martin Virage  ...   97290.18
208                Sandero  ...  112350.61
210                    XKR  ...   54263.16
211                     X5  ...   62041.32
226           Dodge Dakota  ...  141083.35
233                 i30 CW  ...   73311.75
237           Série 7 Sedã  ...   67539.79
240                    V60  ...  114728.74
256       Aston Martin DB5  ...  122110.90

[26 rows x 7 columns]

In [143]:
#Exercicio 
import pandas as pd

dados = {
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor Diesel', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(dados, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])
dataset.query('Motor == "Motor Diesel" or Zero_km == True') #Solução

                  Motor   Ano  Quilometragem  Zero_km     Valor
Jetta   Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat     Motor Diesel  2003         5712.0    False  106000.0
DS5        Motor Diesel  2019            0.0     True   89000.0

### Utilizando o método query

In [141]:
df.query('Motor == "Motor Diesel" and Zero_km == True') #Agora utilizando and

                    Nome  ...      Valor
60               Sorento  ...   81399.35
78           Cielo Hatch  ...  145197.70
124                Camry  ...  138597.27
189  Aston Martin Virage  ...   97290.18
237         Série 7 Sedã  ...   67539.79

[5 rows x 7 columns]

# 5.4 Iterando com DataFrames

In [144]:
dataset.head()

                    Motor   Ano  Quilometragem  Zero_km     Valor
Jetta     Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat       Motor Diesel  2003         5712.0    False  106000.0
Crossfox  Motor Diesel V8  1991        37123.0    False   72000.0
DS5          Motor Diesel  2019            0.0     True   89000.0
Fusca           Motor 1.6  1990       120000.0    False   32000.0

In [149]:
for  index,row in dataset.iterrows(): #Funciona similar ao Zip
  if (2021 - row['Ano']!= 0):
    dataset.loc[index,'Km_media'] = row['Quilometragem'] / (2021-row['Ano'])
  else:
    dataset.loc[index,'Km_media'] = 0
dataset

                    Motor   Ano  Quilometragem  Zero_km     Valor     Km_media
Jetta     Motor 4.0 Turbo  2019            0.0     True   88000.0     0.000000
Passat       Motor Diesel  2003         5712.0    False  106000.0   317.333333
Crossfox  Motor Diesel V8  1991        37123.0    False   72000.0  1237.433333
DS5          Motor Diesel  2019            0.0     True   89000.0     0.000000
Fusca           Motor 1.6  1990       120000.0    False   32000.0  3870.967742

# 5.5 Tratamento de dados

In [151]:
#Verificar informações do dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

In [152]:
df.Quilometragem.isna()

0      False
1      False
2      False
3       True
4      False
       ...
253    False
254    False
255    False
256    False
257    False
Name: Quilometragem, Length: 258, dtype: bool

In [153]:
df[df.Quilometragem.isna()]

                     Nome  ...      Valor
3                     DS5  ...  124549.07
6                      A5  ...   56445.20
13                     J5  ...   53183.38
17                     A3  ...   88552.39
21              Série 1 M  ...   94564.40
..                    ...  ...        ...
238  Lamborghini Reventón  ...   67664.86
242            Benni Mini  ...  126247.84
243                   Uno  ...  128852.21
245              Santa Fe  ...  129415.33
248                  XC60  ...   77675.79

[61 rows x 7 columns]

In [154]:
df.fillna(0, inplace=True) #Tratamento de dados NAN para 0, inplace pra atribuir o valor 0 ao df

In [155]:
df

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [159]:
df.query("Zero_km == True")

                     Nome  ...      Valor
3                     DS5  ...  124549.07
6                      A5  ...   56445.20
13                     J5  ...   53183.38
17                     A3  ...   88552.39
21              Série 1 M  ...   94564.40
..                    ...  ...        ...
238  Lamborghini Reventón  ...   67664.86
242            Benni Mini  ...  126247.84
243                   Uno  ...  128852.21
245              Santa Fe  ...  129415.33
248                  XC60  ...   77675.79

[61 rows x 7 columns]

In [163]:
dataset = pd.read_csv('db.csv', sep = ';')

In [168]:
#Remover/eliminar
dataset.dropna(subset = ['Quilometragem'], inplace= True)
dataset

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
4         Aston Martin DB4  ...   92612.10
5            Palio Weekend  ...   97497.73
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[197 rows x 7 columns]